:root{
    --primary-color: #3a3a3a;
    --secondary-color: #787885;
    --ternary-color: #18191F;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 0 5rem;
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.primary-btn{
    border-radius: 40px;
    background: #E02C6D;
    padding: 10px 24px;
}

/* Start Style - Heading */

header {
    padding: 1rem 0;
}
nav{
    padding-top: 10px;
}
.header-main::after {
    content: "";
    display: table;
    clear: both;
}
.header-main .logo h2{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}
.menu ul{
    display: flex;
}
.menu ul li .active{
    background-color: #6b6b6b80;
    color: #fff;
}
.menu ul li a{
    padding:10px 1rem;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    margin: 0 2px;
}
.menu ul li a:hover{
    background-color: #6b6b6b80;
    color: #fff;
}
.logo-menu {
    float: left;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-icon {
    float: right;
    width: 5%;
    line-height: 2.5rem;
    text-align: center;
}
i.fa-solid.fa-cart-shopping , i.fa-solid.fa-bars{
    font-size: 20px;
}

/* Hero Section */

.hero{
    margin: 2.5rem 0;
}
.hero .Flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-details {
    width: 40%;
}
.hero-details h2{
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
}
.hero-details p{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}
.hero-details a{
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin-top: 2rem;
}
.hero .primary-btn:hover{
    background: #fa0861;
}
.hero-img{
    /* background: url(./images/Circle\ design.svg), lightgray -256.697px -123px / 220.317% 154.831% no-repeat; */
}
.hero-img img{
    height: 100%;
}
.sponsor{
    margin: 5rem 0;
}
.sponsor-img{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.sponsor-img img{
    height: 100%;
}

/* Product Section */

#Products{}
#Products .title h2{
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin: 3rem 0;
}
.card-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.card{
    border-radius: 5px;
    padding: 2rem;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card-img{
    position: relative;
}
.card-img::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}
.card-img:hover::before {
    width: 96%;
    height: 97%;
    background-color: rgba(0, 0, 0, 0.5);
}

.rating .checked {
    color: orange;
}
.card-title{
    color: var(--ternary-color);
    font-size: 1.7rem;
    font-weight: 600;
}
.prices{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
}
.proc-des{
    color: var(--secondary-color);
    font-size: 0.9rem;;
    font-weight: 300;;
    letter-spacing: 0.252px;
}
.see-more-btn{
    text-align: right;
    margin: 2rem 0;
}
.see-more-btn a{
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: 700;
}
.see-more-btn a:hover{
    color: rgb(236, 29, 105);
}
#signup{
    margin: 5rem 0;
}
.blog h2{
    font-size: 2rem;
}
.blog {
    display: flex;
    gap: 0 7rem;
}
.blog .hero-details {
    width: 50%;
}

footer{
    background: #0A0826;
    padding: 70px 0;
}
.footer-text{
    text-align: center;
}

.footer-text h2, p{
    color:#ffffff;
    font-weight: 600;
    margin: 10px 0;
}
.footer-text h2{
    font-size: 1.5rem;
}
.footer-text p{
    font-size: 14px;
}

.social-menu {}
.social-menu ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.social-menu ul li{}
.social-menu ul li a{
    color: #ffffff;
}
