@media screen and (min-width:992px){
    label , input {
        font-size: 1.5rem;
        display: none;
    }
}
@media screen and (max-width:992px) {
    .hero-details {
        width: 65%;
    }
    .hero-details h2 {
        font-size: 2.5rem
    }
    .hero-img {
        text-align: center;
    }
    .hero-img img {
        width: 90%;
    }
}
@media screen and (max-width:768px) {
    .hero .Flex {
        flex-direction: column;
    }
    .header-main {
        flex-direction: row-reverse;
    }
    .hero-details {
        width: 100%;
    }
    .hero-details p, .hero-details a {
        font-size: 1rem;
    }
    .logo-menu {
        justify-content: space-around;
        flex-direction: row-reverse;
        margin-left: -5rem;
    }
    .menu ul {
        display: none;
        visibility: hidden;
        position: absolute;
        top: 75px;
        left: 0;
        background-color: black;
        width: 100%;
        padding-top: 2rem;
        text-align: center;
    }
    .menu ul li a {
        margin: 20px 2px;
        display: block;
    }
    .menu ul li .active {
        color: cyan;
        background: none;
    }
    .menu ul li a:hover{
        color: cyan;
        background:none;
    }
    input#action {
        visibility: hidden;
    }
    input#action:checked ~ ul {
        display: block;
        visibility: visible;
    }
    input#action:checked ~ solid.fa-bar::before{
        content:"\f00d";

    }
    .sponsor-img {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        justify-items: center;
    }
    .sponsor-img img {
        height: 75%;
    }
    .card-items {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-img img {
        width: 100%;
    }
    .blog {
        flex-direction: column-reverse;
    }
    .blog .hero-details {
        width: 100%;
        margin-bottom: 2rem;
    }
    .blog-img img {
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .header-main .logo h2 {
        font-size: 1.2rem;
    }
    .logo-menu {
        margin-left: 0;
    }
    .hero-details h2 {
        font-size: 2rem;
    }
    .hero-details p{
        font-size: 1rem;
    }
    .card-items {
        grid-template-columns: repeat(1, 1fr);
    }
    .blog {
        flex-direction: column-reverse;
    }
    .blog .hero-details {
        width: 100%;
        margin: 2rem 0;
    }
}

@media screen and (max-width:576px){
    .container {
        padding: 0 2rem;
    }
    .sponsor-img {
        grid-template-columns: repeat(3, 1fr);
    }
    #Products .title h2 {
        font-size: 2rem;
        margin: 2rem 0;
    }
}